.telephone-title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 8%;
    padding-right: 10%;
    position: relative;
}
.telephone-title input{
    width: 70%;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 10px;
    top: 5px;
}
.telephone-title div{
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.telephone-title span{
    margin-left: 4px;
}
.telephone-wrong{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 6%;
    padding-right: 10%;
    color: #f60b0b;
    font-size: 12px;
}
.fee-charging{
    width: 100%;
    min-height: 100px;
}
.charging-head{
    width: 100%;
    height: 40px;
    padding-left: 6%;
    border-bottom: solid 1px #eeeeee;
    line-height: 40px;
}
.charging-head span{
    margin-left: 10px;
}
.charging-head i{
    color: #1890ff;
}
.style-charging{
    width: 100%;
    min-height: 100px;
}
.fee-charging-choose{
    padding-top: 20px;
}
.fee-charging-choose .choose-hang{
    width: 100%;
    min-height: 60px;
    padding-bottom: 10px;
    position: relative;
}
.choose-block{
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 4px;
    border: 1px solid #bfbfbf;
    right: 0;
    color: #5d5d5d;
}
.choose-hang .active{
    color: #ffffff;
    background: #1890ff;
    border: none !important;
}
.choose-hang .chris-left{
    position: absolute;
    left: 20px;
}
.choose-hang .chris-middle{
    position: absolute;
    left: 50%;
    margin-left: -40px;
}
.choose-hang .chris-right{
    position: absolute;
    right: 20px;
}
.style-charging-choose{
    padding-bottom: 16px;
    padding-top: 6px;
}
.choose-button{
    width: 70%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #bfbfbf;
    margin: 10px auto 0 auto;

}
.style-charging-choose .active{

    background: #1890ff;
    border: none;
}
.style-charging-choose i{
    font-size: 18px;

}
.style-charging-choose span{
    background: #ffffff;
    margin-right: 4px;
    border-radius: 3px;
}
.style-charging-choose .icon-weixin{
    color: #1ea838;
}
.style-charging-choose .icon-zhifubao{
    color: #00aaee;
}
.fee-time{
    width: 80%;
    margin: auto auto;
    color: #a2a1a1;
    font-size: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.now-do-it{
    width: 80%;
    margin: auto auto;
}
@media screen and (min-width: 1170px) {
    .telephone-fee-charging{
        width: 360px;
        margin: 60px auto 0 auto;
    }
    .telephone-wrong{

    }
}

@media only screen and (max-width: 1170px) {
    .telephone-fee-charging{

    }
    .telephone-title{
        background: #ffffff;
    }
    .fee-charging{
        margin-bottom: 20px;
        background: #ffffff;
    }
    .style-charging{
        background: #ffffff;
    }
    .fee-charging-choose .choose-hang{
        background: #ffffff;
    }
}

@media screen and (max-width: 650px) {
    .telephone-title input{
        width: 64%;
        height: 40px;
        line-height: 40px;
        position: absolute;
        right: 20px;
        top: 0px;
    }
    .fee-charging-choose .choose-hang{
        background: #ffffff;
    }
}
